 @media (min-width: 1400px) {

     .container,
     .container-lg,
     .container-md,
     .container-sm,
     .container-xl,
     .container-xxl {
         max-width: 1420px;
     }
 }

 img,
 svg {
     vertical-align: middle;
     height: 70px;
 }

 .right-nav {
     float: right;
 }



 .background-video video {
     height: 100%;
     width: 100%;
    
 }

 .artists-section {
  height: 100vh;
  overflow: hidden;
}

.background-video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.artists-content {
  background: rgba(0, 0, 0, 0.6); /* optional dark overlay */
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.artist-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.artist-card img:hover {
  transform: scale(1.05);
}

/* .artists-content .row{
  margin-top: 200px;
} */

.back-image {
  background-image: url("/images/about_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
/* 
.i{
  background-color: #ffdeb8;
} */


  .responsive-heading {
    font-size: clamp(2rem, 5vw, 5rem);
    line-height: 1.2;
    font-weight: bold;
  }

  .responsive-text {
    font-size: clamp(2rem, 2.5vw, 1.5rem);
    line-height: 1.6;
  }

.music-image{
  background-image: url("/images/music-image.jpg");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

