*{
      font-family: "Roboto", sans-serif;
}

.btn {
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 15px;
}


header{
          background-color: black;
}

figure a{
        margin-top: 15px;
        color: white;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-primary:hover {
    background-color:  #ff8800;
    color: #fff;
}

.burger-icon{
    height: 30px;
    width: 30px;
    color: white;
}

.bg-orange {
    background-color: #ff8800 !important;
}

.offcanvas-body li a {
    font-size: 16px;
    display: block;
    padding: 8px 12px;
}

.offcanvas-body li a:hover {
    background-color: #ff8800;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.login-image{
    background-image: url("/images/login-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}